.header {
  height: 280px;
  background: $blue-gradient;
  color: $white;

  // top section styles
  &__top {
    height: 54px;
    background-color: $blue;

    ul {
      padding-right: 100px;

      li {
        height: 100%;
        display: flex;
        align-items: center;
        
        a {
          @include top-header-font;
          padding: 0 42.5px;
        }

        &:first-child {
          a {
            padding-left: 0;
          }
        }
        &:last-child {
          a {
            padding-right: 0;
          }
        }
      }
    }
  }

  // logo and search section styles
  &__search {
    margin: 30px 0;

    .search {
      &__input {
        input {
          background-color: $light-blue;
          text-indent: 3.25rem;
        }

        img {
          left: 20px;
          top: 50%;
          transform: translateY(-50%);
        }

        button {
          right: 0;
          top: 0;
        }
      }
    }
  }

  // header navigation styles
  &__nav {
    ul {
      li {
        a {
          padding: 0 33px;
          @include header-nav-font;

          span {
            position: relative;

            &::after {
              content: '';
              display: inline-block;
              width: 100%;
              height: 1px;
              background-color: $white;
              position: absolute;
              bottom: -2px;
              left: 0;
              width: 0;
              transition: width .3s;
            }
          }

          &.active, &:hover {
            span {
              &::after {
                width: 100%;
              }
            }
          }
        }

        &:first-child {
          a {
            padding-left: 0;
          }
        }
        &:last-child {
          a {
            padding-right: 0;
          }
        }
      }
    }
  }
}