.main {
  transform: translateY(-52.5px);
  
  // filter section styles
  &__filter {
    background-color: $white;
    border-radius: 70px 70px 0 0;
    height: 105px;

    &--options {
      li {
        max-width: 150px;
        text-align: center;
        border-top: 1px solid #3387D6;

        a {
          @include filter-item-style;
        }
      }
    }
  }

  // discount section
  &__discount {
    &--options {
      right: 0;
      top: 50%;
      transform: translateY(-72px);

      > div {
        height: 72px;
        width: 73px;
        background-color: $white;
        display: flex;
        align-items: center;
        justify-content: center;

        &.top {
          border-top-left-radius: 29px;
        }
        &.bottom {
          border-bottom-left-radius: 29px;
        }
      }
    }
  }
}