.main {
  transform: translateY(-52.5px);
  
  // filter section styles
  &__filter {
    background-color: $white;
    border-radius: 70px 70px 0 0;
    height: 105px;

    &--options {
      li {
        max-width: 150px;
        text-align: center;
        border-top: 1px solid #3387D6;

        a {
          @include filter-item-style;
        }
      }
    }
  }

  // discount section
  &__discount {
    &--options {
      right: 0;
      top: 50%;
      transform: translateY(-72px);

      > div {
        height: 72px;
        width: 73px;
        background-color: $white;
        display: flex;
        align-items: center;
        justify-content: center;

        &.top {
          border-top-left-radius: 29px;
        }
        &.bottom {
          border-bottom-left-radius: 29px;
        }
      }
    }
  }

  // special products section
  &__specialProducts {
    margin: 55px 0;
  }

  // new products section
  &__newProducts {
    .news-subscription {
      background: linear-gradient(180deg, rgba(56, 130, 203, 0.5) 0, rgba(179, 219, 255, 0.5) 100%);
      backdrop-filter: blur(4px);
      border-radius: 12px;
      height: 624px;
      font-family: $main-font;
      padding: 40px 26px 50px 25px;

      h2 {
        @include news-subscription-header;
      }

      p {
        @include news-subscription-text;
        margin: 20px 0 12px 0 !important;
      }

      .product-image {
        margin-top: 70px;
        text-align: center;
      }
    }
  }

  // decorated products section
  &__decoratedProducts {
    &--items {
      .images {
        margin-bottom: 35px;

        &__item {
          overflow: hidden;
          cursor: pointer;

          img {
            width: 100%;
            transition: transform .4s;
          }

          &:hover {
            img {
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }

  // road products section
  &__roadProducts {
    &--items {
      .image {
        height: 624px;
        
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  // corella products section
  &__corellaProducts {
    font-family: $main-font;
    .filter {
      // filter options styles
      &__options {
        li {
          &:not(:last-child) {
            margin-bottom: 23px;
          }

          @for $i from 1 through length($filterListColours) {
            &:nth-child(#{$i}) a::before {
              border-color: map-get($filterListColours, $i)
            }
          }
          
          a {
            font-weight: $normal;
            font-size: $large-fs;
            line-height: 27px;
            color: $dark-gray;
            display: flex;
            align-items: center;
            padding-left: 12px;
            height: 40px;
            position: relative;
            border-radius: 4px;
            transition: all .4s;

            &::before {
              content: '';
              height: 40px;
              position: absolute;
              left: 0;
              top: 0;
              border: 1px solid;
            }

            &.active, &:hover {
              color:$white;
              background-color: #FFA800;

              &::before {
                display: none;
              }
            }
          }
        }
      }

      // filter results styles
      &__results {
        .row {
          > div {
            padding: 10px;

            > div {
              height: 100%;
            }
          }
        }
        .top {
          border-bottom: 1px solid #FFA800;
          padding-top: 0 !important;
        }
        .left {
          border-right: 1px solid #FFA800;
          padding-left: 0 !important;

          &:first-child {
            text-align: right;
          }
        }
        .bottom {
          padding-bottom: 0 !important;

          img {
            width: 100%;
            height: 100%;
          }
        }
        .right {
          padding-right: 0 !important;
        }
      }
    }
  }
}