// button component
.button {
  &__round {
    @include create-button($form-round, rgba(255, 255, 255, 0.9), 100%, 178px, $normal-fs, $bold, #2F74BF);
  }

  &__primary {
    @include create-button($form-primary, $white, 39px, 152px, $smaller-fs, $light, rgba(44, 52, 62, 0.97));
  }
}

// input component
.input {
  &__round {
    border-radius: $form-round;
    width: 100%;
    height: 100%;
    color: $white;
  }
}