// button component
.button {
  &__round {
    border-radius: $form-round;
    background-color: rgba(255, 255, 255, 0.9);
    height: 100%;
    width: 178px;
  }
}

// input component
.input {
  &__round {
    border-radius: $form-round;
    width: 100%;
    height: 100%;
    color: $white;
  }
}