// Gilroy light font
@font-face {
  font-family: "Gilroy";
  src: url(./../assets/fonts/Gilroy/Gilroy-Light.otf);
}

// Gilroy extra bold font
@font-face {
  font-family: "Gilroy";
  src: url(./../assets/fonts/Gilroy/Gilroy-ExtraBold.otf);
  font-weight: bold;
}