// top header mixins
@mixin top-header-font {
  font-family: $main-font;
  font-size: $small-fs;
  font-weight: $light;
}

// header navigation font
@mixin header-nav-font {
  font-family: $main-font;
  font-size: $normal-fs;
  font-weight: $bold;
  line-height: 17px;
}