// top header mixins
@mixin top-header-font {
  font-family: $main-font;
  font-size: $smaller-fs;
  font-weight: $light;
}

// header navigation font
@mixin header-nav-font {
  font-family: $main-font;
  font-size: $large-fs;
  font-weight: $bold;
  line-height: 17px;
}

// filter elements style
@mixin filter-item-style {
  font-size: $small-fs;
  font-weight: $light;
  font-family: $main-font;
  color: $dark-gray;
  display: inline-block;
  padding-top: .625rem;
  width: 100%;
  height: 100%;
}


// form elements mixins
// mixin to create a button
@mixin create-button($radius, $bg, $h, $w, $fs, $fw, $color) {
  border-radius: $radius;
  background-color: $bg;
  height: $h;
  width: $w;
  font-family: $main-font;
  font-size: $fs;
  font-weight: $fw;
  color: $color;
}

@mixin create-input($radius, $w, $h, $color, $indent, $bg, $border) {
  border-radius: $radius;
  width: $w;
  height: $h;
  color: $color;
  text-indent: $indent;
  background-color: $bg;
  font-weight: $light;
  border: $border;
}


// discount section offer and discount text styles
@mixin discount-offer {
  font-weight: $bold;
  font-size: $offer-text;
  font-family: $main-font;
}

@mixin discount-text {
  font-weight: $bolder;
  font-family: $main-font;
  font-size: $discount-text;
}

@mixin link-font {
  text-decoration: underline !important;
  text-transform: lowercase;
  font-size: $smaller-fs;
  font-weight: $light;
  font-family: $main-font;
  line-height: 23px;
}

// section title font styles
@mixin section-title {
  font-weight: $bold;
  font-family: $main-font;
  font-size: $section-title-fs;
}

// new products section mixins
@mixin news-subscription-header {
  font-weight: $bold;
  font-size: 35px;
  color: #025BB3;
}

@mixin news-subscription-text {
  font-size: 14px;
  font-weight: $light;
  color: $white;
}